@font-face {
    font-family: handwritten;
    src: url('../codepharmer.github.io/fonts/good_dog/GOODDP__.TTF') format('opentype');
}
@font-face {
    font-family: grafitti;
    src: url('../codepharmer.github.io/fonts/next_custom/next custom.ttf') format('opentype');
}
@font-face {
    font-family: gooddog;
    src: url('../codepharmer.github.io/fonts/good_dog/GOODDP__.TTF') format('opentype');
}
#bootstrapOverrides {
    font-family: gooddog;
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
    display: inline;
}
#myResume {
    font-family: Calibri;
    font-size: 1.2rem;
    color: black;
}
body {
    background-color: black;
}
.bold {
    font-weight: bold;
}
.font-2rem {
    font-size: 2rem;
}
h1, h2 {
    font-size: 3rem;
    /* float: left; */
    margin-bottom: auto;
    /* display: inline; */
    clear: left;
    text-align: center;
}
.stretch_word{
    font-family: grafitti;
    font-size: larger;
}
.slategrey{
    color: slategrey;
}
.grey{
    color: grey;
}
.bg-black{
    background-color: black;
}
a{
    text-decoration: none;
    color:grey;
}
a:hover{
    color: darkgrey;
}
img{
    width: 23%;
    height: auto;
    float: center;
    align-content: space-around;
}
span {
    display: inline-block;
}
script {
    color: white;
}
.n {
    color: white;
}
/* #hobbies>img {
    align-content: right;
} */
iframe {
    width: 65%;
}