@font-face {
    font-family: handwritten;
    src: url('../codepharmer.github.io/fonts/fofer-free-font/fofer.otf') format('opentype');
}
@font-face {
    font-family: grafitti;
    src: url('../codepharmer.github.io/fonts/next_custom/next custom.ttf') format('opentype');
}
html {
    font-family: handwritten;
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
    display: inline;
}
body {
    background-color: black;
}
h1, h2 {
    font-size: 3rem;
    /* float: left; */
    margin-bottom: auto;
    /* display: inline; */
    clear: left;
    text-align: center;
}
.stretch_word{
    font-family: grafitti;
    font-size: larger;
}
a{
    text-decoration: none;
    color:grey;
}
a:hover{
    color: lightblue;
}
img{
    width: 23%;
    height: auto;
    float: center;
    align-content: space-around;
}
span {
    display: inline-block;
}
script {
    color: white;
}
.n {
    color: white;
}

#my_resume>h2 {
    align-content: space-between;
    display:  block;
    height: auto;
}

#my_projects>h2 {
    margin-bottom: 2px;
}
#my_projects>.show_projects {
    text-align: center;
    font-size: 3em;
}
#hobbies>h2 {
    width: 100%;
}
/* #hobbies>img {
    align-content: right;
} */
#hobbies>h2>.hobby{
    display:block;
}
.show_projects>p {
    font-size: 2rem;
}
iframe {
    position: relative;
    background: #000;
    border: none;
    top: 0; 
    right: 0;
    bottom: 0; 
    left: 0;
    width: 75%;
}
/* 
#my_projects>.show_projects>h2>img {
        width: 666px;
        height: 195px;
        position: relative;
        display: inline-block;
}

#my_projects>.show_projects>h2>img:hover {
    background: url("../codepharmer.github.io/graphics/hamming.jpg") no-repeat;
} */